{%extends "registration/base.html"%}
{% load bootstrap3 %}
{% load bootstrap4 %}
{% load crispy_forms_tags %}
{% block content %}

<div class="form-container"
  style="border-radius: 10px;background-color: white;margin-top: 200px;margin-left: 450px;margin-right: 450px;">

  <form action="" method="post">
    <div class="legend">
      <div class="">
        <h3> <i>Already have an account?</i> </h3>
      </div>
    </div>

    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn,w3-button w3-green" style="border-radius: 12px;">Log In</button>
  </form>

</div>
<!-- <div class="container">
  <div class="d-flex justify-content-center h-100">
    <div class="card">
      <div class="card-header">
        <h3>Sign In</h3>
        <div class="d-flex justify-content-end social_icon">
          <span><i class="fab fa-facebook-square"></i></span>
          <span><i class="fab fa-google-plus-square"></i></span>
          <span><i class="fab fa-twitter-square"></i></span>
        </div>
      </div>
      <div class="card-body">
        <form id="login-form" method="post" action="">
          {% csrf_token %}
          <div class="input-group form-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fas fa-user"></i></span>
            </div>
            <input type="text" class="form-control" placeholder="username">

          </div>
          <div class="input-group form-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fas fa-key"></i></span>
            </div>
            <input type="password" class="form-control" placeholder="password">
          </div>
          <div class="row align-items-center remember">
            <input type="checkbox">Remember Me
          </div>
          <div class="form-group">


            <button type="submit" class="btn float-right login_btn" style="border-radius: 12px;">Log In</button>
          </div>
        </form>
      </div>
      <div class="card-footer">
        <div class="d-flex justify-content-center links">
          Don't have an account?<a href="#">Sign Up</a>
        </div>
        <div class="d-flex justify-content-center">
          <a href="#">Forgot your password?</a>
        </div>
      </div>
    </div>
  </div>
</div> -->
{% endblock %}