{%extends "registration/base.html"%}
{% load bootstrap3 %}
{% load bootstrap4 %}
{% load crispy_forms_tags %}
{% block content %}

<div class="form-container"
  style="border-radius: 10px;background-color: white;margin-top: 200px;margin-left: 450px;margin-right: 450px;">

  <form action="" method="post">
    <div class="legend">
      <div class="">
        <h3> <i>Already have an account?</i> </h3>
      </div>
    </div>

    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn,w3-button w3-green" style="border-radius: 12px;">Log In</button>
  </form>

</div>

{% endblock %}