{% load bootstrap4 %}
{% load bootstrap3 %}
{%load static%}
<!DOCTYPE html>
<html>

<head>
    <title>Neighbourhood Watch</title>
    {% block styles %}
    {% bootstrap_css %}
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.2/css/mdb.css">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet"
        id="bootstrap-css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet"
        integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700">

    {% endblock %}
</head>

<body>
    <nav class="navbar navbar-expand-sm bg-light fixed-top navbar-light ">
        <div class="container">
            <!-- Brand -->
            <a class="navbar-brand" href="{%url 'home'%}">
                <img src="https://assets-global.website-files.com/59d3b5e54e9881000114dd8b/5a56a8c8519e480001b69b86_dark-eye.png"
                    alt="Logo" style="width:50px;">
            </a>

            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav">
                    <div style="background-color:">
                        <a href="{%url 'home'%}" onclick="w3_close()" class="w3-bar-item w3-button  w3-hover-green"><i
                                class="fa fa-home "></i> Home</a>
                    </div>

                    <div style="margin-left: px;">
                        <a href="{%url 'add-biz'%}" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-green"><i
                                class="fa fa-plus"></i> Add Business</a>

                    </div>

                    <div style="margin-left: 120px;">
                        <form class="form-inline" action="{%url 'search-biz'%}">
                            <input class="form-control mr-sm-2" type="text" placeholder="Search Cars">
                            <button class="btn btn-success" type="submit"><i class="fa fa-search"></i> Search</button>
                        </form>
                    </div>
                    <div style="margin-left: 100px;">
                        <a href="/admin" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-green"><i
                                class="fa fa-user"></i>
                            Admin</a>
                    </div>
                    <div style="margin-left: 50px;">
                        <a href="/logout" onclick="w3_close()" class="w3-bar-item w3-button  w3-hover-red"><i
                                class="fa fa-sign-out "></i>Logout</a>

                    </div>

                </ul>
            </div>
        </div>
    </nav>
    {% block content %}
    {%endblock%}
    {% block scripts %}
    {% bootstrap_javascript %}
    {% endblock %}
</body>